
:root {
  --cor-verde1: #48c39d;
  --cor-verde2: #3db28d;
  --cor-verde3: #3dda96;
  --cor-azul: #168fd8;
  --cor-azul-escuro: #009bfc;
}

@keyframes animacao{

  from{
    opacity: 0;
    transform: translateY(30px);
  } 
  to{
    opacity: 1;
    transform: translateY(0);
  }

}

body{
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


/* -- Main page -- */


/* -- NAVBAR -- */

.navbar-ul{
    list-style-type: none;
    margin: 0;
    background-image: linear-gradient(to bottom right, #48c39d, #48c361);
    filter: brightness(90%);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    height: 95px;  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li a { 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    transition: transform 0.3s ease, color 0.2s;
  }

  li img{
    margin-right: 21px;
  }
  
  /* muda a cor ao sobrepor o mouse */
  li a:hover {
    transform: scale(0.9);
    color: var(--cor-azul);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .navbar-ul i{
    color: white;
    font-size: 1.5em;
    transition: color 0.2s, transform 0.2s;
  }

  .navbar-ul i:hover{
    color: var(--cor-azul);
    transform: scale(1.1);
  }

  * {box-sizing:border-box}

/* -- CARROSSEL -- */
.slideshow-container{
  max-width: 100%;
  width: 100%; 
  height: 2cm;
  position: relative;
  margin-top: 90px;
  z-index: 0;
  overflow: hidden;
  border-bottom: 4px solid var(--cor-verde2);
}

.slideshow-container img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.pg{
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5em;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* -- SEÇÃO SOBRE NÓS -- */

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 95%;
  margin: auto;
}

.container div{
  margin-top: 1em;
}

.item1{
  width: 20em;
  opacity: 0;
}

.item2{
  width: 40em;
  opacity: 0;
}

.container h1{
  font-weight: 900;
  text-align: center;
  font-size: 2em;
  color: var(--cor-azul);
  margin: 0em;
}

.container p{
  font-size: 1.2em;
  font-weight: 370;
  font-style: italic;
  text-align: center;
  word-spacing: 0.2em;
  margin: 0.2em;
  margin-top: 0.4em;
}

/* titulo da adriana - nesse exemplo ele só muda o ultimo p dentro de cada container class */

.container p:last-of-type{
  font-size: 1em;
  padding: 1.5em;
  color: var(--cor-azul);
  opacity: 0.8;
  font-weight: 600;
}

.botao {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
  0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  transition: transform 0.2s, background-color 0.2s;
}

.botao:hover {
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

.imgSejaVida{
  float: left;
}

.sobreNos h1{
  margin-left: 1134px;
  font-size: 2.5em;
  font-weight: 500;
}

.sobreNos hr{
  width: 846px;
}

/* -- Informações ONG -- */

.imgInfo{
  width: 100%;
  height: 10cm;
  background-image: url(https://www.pequenosguerreiros.org.br/wp/wp-content/uploads/2021/11/contador.jpeg-1-scaled-e1637172075578.jpg);
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  margin-top: 3cm;
  margin-bottom: 2.5cm;
  position: relative;
  border-top: 5px solid var(--cor-verde2);
  border-bottom: 5px solid var(--cor-verde2);
  display: flex;
  float: right;
  justify-content: space-around;
  align-items: center;
}

.imgInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.521); /* Cor e opacidade da sobreposição */
  z-index: 0;
}

.info1{
  z-index: 1;
  text-align: center;
  color: var(--cor-verde2);
  opacity: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.195);
}

.info2{
  z-index: 1;
  text-align: center;
  color: var(--cor-verde2);
  opacity: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.195);
}

.info3{
  z-index: 1;
  text-align: center;
  color: var(--cor-verde2);
  opacity: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.195);
}

/* -- Parceiros -- */

.nossosParceiros h1{
  margin-top: 10cm;
  margin-bottom: 2cm;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.nossosParceiros a{
  margin: 0 auto;
  margin-bottom: 1cm;
}

.nossosParceiros hr{
  width: 60%;
  margin: 0 auto;
  color: var(--cor-verde2);
  border-top: 3px solid var(--cor-verde2);
  border-radius: 1.5em;
}

.parceiros-content {
  overflow: hidden;
  width: 100%;
  margin-top: 1cm;
  margin-bottom: 2cm;
  position: relative;
}

.parceiros-track {
  display: flex;
  width: calc(150px * 26); /* Ajuste de largura considerando o dobro de imagens */
  transition: transform 0.7s ease-in-out;
}

.parceiros-track img {
  width: 150px;
  height: auto;
  margin: 0 24px;
  border-radius: 7px;
}

.botao-parceiro{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
  0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  transition: transform 0.2s, background-color 0.2s;
}

.botao-parceiro:hover {
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Depoimentos -- */

.depoimentos h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 96px;
  margin-bottom: 24px;
  font-size: 2.5em;
  font-weight: 500;
}

.depoimentos hr{
  color: var(--cor-verde2);
  width: 45%;
  margin: 0 auto;
  border-top: 3px solid var(--cor-verde2);
  border-radius: 1.5em;
}

.dep-container{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.dep-texto{
  width: 90%;
  text-align: center;
  margin-top: 16px;
}

.carousel-inner h4, h5{ 
  text-align: center;
}

.carousel-inner h5{
  margin-bottom: 12px;
}

.depoimentos .carousel-inner{
  margin: 0 auto;
  width: 70%;
  height: 230px;
  border: solid 3px var(--cor-verde2);
  border-radius: 7px;
  margin-top: 24px;
  margin-bottom: 64px;
}

/* -- Rodapé -- */

#containerrodape{
background-color: #e9e9e9;

width: 100%;
height: 300px;
border-width: 5px;
border-color: var(--cor-verde2);
border-style: solid;
border-left: black;
border-right: black;
}

.contato-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.contato-cont a{
  color: black;
  text-decoration: none;
  transition: transform 0.2s, color 0.2s;
}

.contato-cont a:hover{
  transform: scale(0.9);
  color: var(--cor-azul);
}

  .rodape-paginas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

  }

  .rodape-paginas a{
    color: black;
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
  }

  .rodape-paginas a:hover{
    transform: scale(0.9);
    color: var(--cor-azul);
  }

.rodape-content{
  display: flex;
  justify-content: space-around;
  width: 99%;
  margin: 0 auto;
}

.paginas{
  padding: 10px, 24px;
  opacity: 0;
}

.endereco{
  opacity: 0;
}

.endereco iframe{
  width: 80%;
}

.endereco h3{
  text-align: center;
  padding: 10px, 24px;
}

.maps{
  border-style: solid;
  border-color: #45a5e0;
  border-width: 2px;
  border-radius: 10px;
  opacity: 0;
}

.contato{
  padding: 10px, 24px;
  opacity: 0;
}


/* -- Página Sobre nós -- */


/* -- Nossa História -- */

.container-sobrenos{
  margin: 0 auto;
  width: 85%;
}

.sobrenos-h1{
  margin-top: 144px;
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
}

.sobrenos-content{
  border-top: 5px solid var(--cor-verde2);
  border-radius: 10px;
  margin-top: 36px;
  font-size: 1.1em;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.sn-content-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sn-content-container2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25px;
  gap: 30px;
}

.sn-item1{
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-indent: 5%;
}

.sn-item2{
  width: 48%;
  text-indent: 5%;
}

.sobrenos-video{
  margin-right: 3%;
}

.sobrenos-video video{
  width: 540px;
  margin-top: 24px;
  border: 3px solid var(--cor-verde2);
  border-radius: 10px;
}

.sobrenos-txt p{
  width: 91%;
  margin-top: 2em;
  padding-left: 30px;
  text-indent: 5%;
}

.sobrenos-h3{
  display: flex;
  justify-content: center;
}

.sobrenos-h3 h3{
  color: var(--cor-azul);
}

/* -- Nossas Ações -- */

.container-nossasacoes{
  margin-top: 64px;
  margin-bottom: 48px;
  border-top: 5px solid var(--cor-verde2);
  border-bottom: 5px solid var(--cor-verde2);
}

.container-nossasacoes .sobrenos-h1{
  margin-top: 30px;
}


.sobrenos-h1 hr{
  width: 45%;
  background-color: var(--cor-azul);
}

.nossasacoes-content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.nossasacoes-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.nossasacoes-icon h2{
  text-align: center;
} 

/* -- Nosso Mascote -- */

.container-mascote{
  width: 80%;
  margin: 0 auto;
}

.container-mascote .sobrenos-h1 {
  text-align: center;
  margin-top: auto;
}

.mascote-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin-top: -40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.mascote-img img{
  width: 380px;
}

.mascote-txt{
  color: black;
}

.mascote-txt p{
  text-indent: 5%;
}

.mascote-btn{
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.botao-mascote{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
  0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  transition: transform 0.2s, background-color 0.2s;
}

.botao-mascote:hover {
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Nosso MVV -- */

.container-mvv{
  border-top: 5px solid var(--cor-verde2);
}

.mvv-content{
  display: flex;
  justify-content: center;
  font-size: 1.0em;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}

.mvv-h1{
  margin-top: 48px; 
  margin-bottom: 36px;
  text-align: center;
}

.mvv-caixa{
  width: 30%;
  height: 22em;
  margin: 0 auto;
  border: 1px solid var(--cor-verde2);
  border-radius: 7px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}

.mvv-caixa i{
  font-size: 48px;
  margin-top: 20px;
  color: var(--cor-azul);
}

.mvv-caixa h2{
  width: 70%;
  text-align: center;
}

.mvv-caixa p{
  width: 70%;
  text-align: left;
}

.mvv-caixa ul li{
  text-align: left;
}

.mvv-btn{
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 64px;
}

.botao-mvv{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
  0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  transition: transform 0.2s, background-color 0.2s;
}

.botao-mvv:hover {
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 


/* -- Página Cadastro -- */


/* -- Título -- */

.cadastro-titulo{
  margin-top: 148px;
  margin-bottom: 48px;
  text-align: center;
}

.cadastro-titulo h1{
  font-family: "Allerta Stencil", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  font-weight: 500;
}

.cadastro-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

/* -- Carrossel -- */

.cadastro-container-carrossel{
  width: 1080px;
  margin: 0 auto;
}

.cadastro-container-carrossel .carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-container-carrossel .carousel-inner{
  border: 4px solid var(--cor-verde2);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

/* -- Cadastre aqui -- */

.cadastro-content{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0%, -200%);
}

.cadastro-txt{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 65%;
  margin-bottom: 24px;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.botao-cadastro{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-cadastro:hover {
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 


/* -- Página Nossos Parceiros -- */


/* -- Título -- */

.parceiros-titulo{
  margin-top: 144px;
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
}

.parceiros-titulo hr{
  width: 40%;
  border-top: 3px solid var(--cor-verde2);
  border-radius: 1.5em;
}

/* -- Nossos Parceiros - Texto -- */

.container-nossosparceiros{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7%;
}

.container-nossosparceiros .fa-solid{
  font-size: 9em;
  color: var(--cor-verde1);

}

.nossosparceiros-txt{
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

.nossosparceiros-txt p{
  text-align: center;

}

.nossosparceiros-btn h3{
  text-align: center;
  font-weight: 800;
  color: var(--cor-verde1);
}

.nossosparceiros-btn{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 48px;
  gap: 24px;
}

/* -- Planos -- */

.nossosparceiros-planos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

/* -- Nossos Parceiros - Imagem -- */

.nossosparceiros-img{
  margin-top: 72px;
}

.nossosparceiros-h1{
  text-align: center;
}

.nossosparceiros-h1 hr{
  width: 60%;
  border: 5px var(--cor-verde3);
}

.nossosparceiros-content{
  margin-top: 48px;
  margin-bottom: 56px;
}

.nossosparceiros-caixa{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
  width: 80%; 
  margin: 0 auto;
}

.nossosparceiros-caixa img{
  border-radius: 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  transition: transform 0.2s ease;
}

.nossosparceiros-caixa img:hover{
  transform: scale(0.9);
}


/* -- Página Produtos -- */


/* -- Título -- */

.produtos-titulo{
  margin-top: 144px;
  text-align: center;
  border-bottom: 4px solid var(--cor-verde2);
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 500;
}

.produtos-titulo h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  width: 30%;
  margin: 0 auto 5px auto;
}

.produto-main{
  border-bottom: 5px solid var(--cor-verde2);
}

.prodmain-h1{
  display: flex;
  align-self: center;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.prodmain-h1 h2{
  font-family: 'Lato';
  font-weight: 700;
  color: var(--cor-azul);
  text-decoration: none;
}


.prodmain-content{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}

.prodmain-quokkinha{
  width: 75%;
  margin-right: -100px;
  /* display: flex;
  justify-content: center; */
}

.prodmain-quokkinha img{
  width: 80%; 
  border: 3px solid var(--cor-verde2);
  border-radius: 9px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

.prodmain-caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 12px;
}

.prodmain-txt{
  width: 90%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: justify;
  text-indent: 7%;
}

.prodmain-btn{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}

.prodmain-btn h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
  font-style: italic;
}

.prodmain-btn h2:last-of-type{
  font-family: 'Allerta Stencil', serif;
  font-weight: 900;
  color: var(--cor-verde2);
  text-shadow: 1px 1px 2px black;
  font-style: normal;
}

.botao-prodmain{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  margin-top: 15px;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-prodmain:hover{
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Produtos -- */

.container-produtos{
  margin-bottom: 48px;
}

.container-produtos hr{
  width: 75%;
  margin: 0 auto;
}

/* .produtos-acessorios{

} */

.produtos-titulo2{
  padding-bottom: 2%;
  border-bottom: 3px solid var(--cor-verde2);
}

.produtos-titulo2 h1{
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.lista-produtos{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  gap: 24px;
  margin-top: 24px;
}

.lista-produtos-outros{
  display: flex;
  justify-content: flex-start;
  width: 85%;
  margin: 0 auto;
  gap: 24px;
  margin-top: 24px;
}

.caixa-produtos{
  width: 20%;
  border: 2px solid var(--cor-verde2);
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.caixa-produtos a{
  margin-top: auto;
}

.caixa-produtos img{
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.caixa-produtos h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-size: 1.2em;
  margin-top: auto;
}

.caixa-produtos h3:last-of-type{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-size: 1.2em;
  margin-top: 5%;
  color: var(--cor-azul);
  font-weight: 700;
  font-style: italic;
  margin-top: 0px;
}

.caixa-produtos p{
  margin-left: 3%;
  font-family: 'Lato', 'Montserrat', sans-serif;
}

.botao-produtos{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 80%;
  height: 3em;
  margin-top: 24px;
  margin-bottom: 24px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-produtos:hover{
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 


/* -- Página Eventos -- */


/* -- Eventos Banner -- */

.eventos-banner{
  margin-top: 95px;
  margin-bottom: 3%;
  height: 21em;
  overflow: hidden;
  border-bottom: 4px solid var(--cor-verde2);
}

.eventos-banner img{
  transform: translate(0%, -15%);
  width: 100%;
}

.eventos-banner h1{
  color: white;
  position: absolute;
  z-index: 1;
  font-family: 'Allerta Stencil', sans-serif;
  transform: translate(150%, 330%);
  text-shadow: 1px 1px 2px black;
}

/* -- Eventos -- */

.eventos-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.eventos-itens{
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.eventos-caixa{
  width: 30%;
  border: none;
  margin: 20px 0px;
  background-color: aliceblue;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  overflow: hidden;
  border-radius: 10px;
}

.eventos-caixa img{
  width: 100%;
  height: 250px;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
}

.eventos-caixa img:hover{
  transform: scale(1.05);
}

.eventos-caixa h6{
  width: 85%;
  text-align: center;
  margin: 0.5em auto;
  color: var(--cor-azul);
}

.eventos-caixa h2{
  width: 85%;
  text-align: center;
  margin: 32px auto;
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: auto;
  padding-bottom: 4%;
}

/* -- Botão -- */

.eventos-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.botao-eventos{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-eventos:hover{
  transform: scale(1.1);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Página Contato -- */


/* -- Título -- */

.contato-titulo{
  margin-top: 144px;
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  font-weight: 500;
}

/* -- Redes -- */

.contato-redes{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 48px;
  font-size: 2.5em;
}

.contato-redes i{
  color: var(--cor-verde2);
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  width: 50px;
  height: 50px;
  transition: transform 0.2s, color 0.2s, background-color 0.2s, border-radius 0.2s, width 0.2s, height 0.2s;
}

.contato-redes i:hover{
  transform: scale(1.1);
  color: white;
  background-color: var(--cor-verde1);
  border-radius: 50%;
}

/* -- Formulário e Info -- */

.contato-content{
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 48px;
}

.contato-h1{
  text-align: center;
  margin: 40px auto;
}

.contato-h1 h1{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.contato-h1 hr{
  width: 70%;
  margin-left: 10%;
  margin-top: -5px;
  margin-bottom: 48px;
  border-top: 3px solid var(--cor-verde2);
  border-radius: 1.5em;
}



.contato-form{
  border: none;
  border-radius: 1em;
  width: 30%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  background-color: var(--cor-verde1);
}

.contato-form h2{
  margin-top: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.contato-form label{
  margin-left: 10%;
  margin-top: 5%;
}

.contato-text1{
  width: 75%;
  height: 2.3em;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 10%;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  
}

.contato-text2{
  width: 75%;
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: 10%;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

input, textarea {
  border-radius: 10px;
}

.contato-form-btn{
  margin-left: 10%;
}

.contato-enviar{
  background-color: var(--cor-azul);
  color: white;
  width: 40%;
  height: 2.2em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  margin-bottom: 24px;
  transition: transform 0.2s ease-in-out;
}

.contato-enviar:hover{
  transform: scale(1.1);
  background-color: var(--cor-azul-escuro);
  color: white;
  text-decoration: none;
}

.contato-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  border-radius: 1em;
  width: 30%;
  color: white;
  background-color: var(--cor-verde1); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

.contato-info h2{
  margin-top: -20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.contato-info h3{
  margin-left: 2%;
}

.contato-info a{
  color: white;
  text-decoration: none;
  transition: color 0.1s;
  font-size: 1.2em;
  transition: transform 0.2s, color 0.2s;
}

.contato-info p{
  margin-left: 5%;
}

.contato-info i{
  margin-right: 4px;
  font-size: 1.6em;
  
}

.contato-info a:hover{
  color: var(--cor-azul);
  transform: scale(1.1);
}

/* -- Animações -- */

li.in-view{
  animation: animacao 1.5s forwards;
}

.fa-brands.in-view{
  animation: animacao 1.5s forwards;
}

.pg.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.6s;
}

.item1.in-view{
  animation: animacao 2s forwards;
}

.item2.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.4s;
}

.info1.in-view{
  animation: animacao 2s forwards;
}

.info2.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.4s;
}

.info3.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.8s;
}

.paginas.in-view{
  animation: animacao 2s forwards;
}

.endereco.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.4s;
}

.maps.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.8s;
}

.contato.in-view{
  animation: animacao 2s forwards;
  animation-delay: 1.2s;
}


/* -- SOBRE NOS | ANIMAÇÕES */

.sn-content-container1.in-view , .sn-content-container2.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.sobrenos-h1.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.container-nossasacoes.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.container-mascote.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.container-mvv.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

/* -- CADASTRO | ANIMAÇÕES */

.sn-content-container1.in-view , .sn-content-container2.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.cadastro-container.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.cadastro-titulo.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

/* -- PARCEIROS | ANIMAÇÕES */

.parceiros-titulo.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.container-nossosparceiros.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.nossosparceiros-btn.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.nossosparceiros-planos.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.nossosparceiros-img.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

/* -- PRODUTOS | ANIMAÇÕES */

.produtos-titulo.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.produtos-titulo2.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.prodmain-h1.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.prodmain-content.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

/* -- EVENTOS | ANIMAÇÕES */

.eventos-banner.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.eventos-caixa.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.eventos-btn.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}



/* -- CONTATOS | ANIMAÇÕES */

.contato-titulo.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.contato-redes.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.contato-h1.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.contato-content.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}

.contato-info.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.0s;
}







/* -- Proporções de tela -- */

@media (min-width: 336px){
  .eventos-banner h1{
    transform: translate(130%, 330%);
  }
  
  .slideshow-container{
    height: 3cm;
  }
}

@media (min-width: 576px){
  .slideshow-container{
    height: 5cm;
  }
}

@media(min-width: 768px){
  .slideshow-container{
    height: 8cm;
  }
}

@media(min-width: 992px){
  .eventos-banner h1{
    transform: translate(60%, 330%);
  }
  
  .navbar-ul{
    gap: 15px;
  }

  .slideshow-container{
    height: 10cm;
  }
}

@media(min-width: 1200px){
  .eventos-banner h1{
    transform: translate(100%, 330%);
  }

  .slideshow-container{
    height: 12cm;
  }
}

@media (min-width: 1400px){
  .eventos-banner h1{
    transform: translate(130%, 330%);
  }

  ul{
    height: 95px;
  }

  li a{
    margin: 19px 7px;
    padding: 12px 12px;
    font-size: x-large;
  }

  .slideshow-container{
    margin-top: 95px;
    height: 14cm;
  }
}
