
:root {
  --cor-verde1: #48c39d;
  --cor-verde2: #3db28d;
  --cor-verde3: #3dda96;
  --cor-azul: #168fd8;

}

@keyframes animacao{

  from{
    opacity: 0;
    transform: translateY(30px);
  } 
  to{
    opacity: 1;
    transform: translateY(0);
  }

}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


/* -- Main page -- */


/* -- NAVBAR -- */

.navbar-ul{
    list-style-type: none;
    margin: 0;
    background-image: linear-gradient(to bottom right, #48c39d, #48c361);
    filter: brightness(90%);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    height: 95px;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ul div{
    margin-left: 3px;
    margin-right: 3px;
  }

  li a { 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    transition: transform 0.3s ease, color 0.2s;
  }

  li img{
    margin-right: 21px;
  }
  
  /* muda a cor ao sobrepor o mouse */
  li a:hover {
    transform: scale(0.9);
    color: var(--cor-azul);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  * {box-sizing:border-box}

/* -- CARROSSEL -- */
.slideshow-container{
  max-width: 100%;
  width: 100%; 
  height: 2cm;
  position: relative;
  margin-top: 90px;
  z-index: 0;
  overflow: hidden;
  border-bottom: 4px solid var(--cor-verde2);
}

.slideshow-container img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.pg{
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5em;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* -- SEÇÃO SOBRE NÓS -- */

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 95%;
  margin: auto;
}

.container div{
  margin-top: 1em;
}

.item1{
  width: 20em;
  opacity: 0;
}

.item2{
  width: 40em;
  opacity: 0;
}

.container h1{
  font-weight: 900;
  text-align: center;
  font-size: 2em;
  color: var(--cor-azul);
  margin: 0em;
}

.container p{
  font-size: 1.2em;
  font-weight: 370;
  font-style: italic;
  text-align: center;
  word-spacing: 0.2em;
  margin: 0.2em;
  margin-top: 0.4em;
}

/* titulo da adriana - nesse exemplo ele só muda o ultimo p dentro de cada container class */

.container p:last-of-type{
  font-size: 1em;
  padding: 1.5em;
  color: var(--cor-azul);
  opacity: 0.8;
  font-weight: 600;
}

.botao {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao:hover {
  transform: translateY(-0.5em);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

.imgSejaVida{
  float: left;
}

.sobreNos h1{
  margin-left: 1134px;
}

.sobreNos hr{
  width: 846px;
}

/* -- Informações ONG -- */

.imgInfo{
  width: 100%;
  height: 10cm;
  background-image: url(https://www.pequenosguerreiros.org.br/wp/wp-content/uploads/2021/11/contador.jpeg-1-scaled-e1637172075578.jpg);
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  margin-top: 3cm;
  margin-bottom: 2.5cm;
  position: relative;
  border-top: 5px solid var(--cor-verde2);
  border-bottom: 5px solid var(--cor-verde2);
  display: flex;
  float: right;
  justify-content: space-around;
  align-items: center;
}

.imgInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.521); /* Cor e opacidade da sobreposição */
  z-index: 0;
}

.info1{
  z-index: 1;
  text-align: center;
  color: var(--cor-verde2);
  opacity: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.195);
}

.info1 img{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  filter: brightness(1.0) saturate(1.0);
  clip-path: inset(0 0 0 0);
  transform: translate(0%, 0%);
  top: auto;
  left: auto;
  margin-bottom: 15px;
}

.info2{
  z-index: 1;
  text-align: center;
  color: var(--cor-verde2);
  opacity: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.195);
}

.info2 img{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  filter: brightness(1.0) saturate(1.0);
  clip-path: inset(0 0 0 0);
  transform: translate(0%, 0%);
  top: auto;
  left: auto;
  margin-bottom: 15px;
}

.info3{
  z-index: 1;
  text-align: center;
  color: var(--cor-verde2);
  opacity: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.195);
}

.info3 img{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  filter: brightness(1.0) saturate(1.0);
  clip-path: inset(0 0 0 0);
  transform: translate(0%, 0%);
  top: auto;
  left: auto;
  margin-bottom: 15px;
}

/* -- Parceiros -- */

.nossosParceiros h1{
  margin-top: 10cm;
  margin-bottom: 2cm;
  text-align: center;
}

.nossosParceiros a{
  margin: 0 auto;
  margin-bottom: 1cm;
}

.nossosParceiros hr{
  width: 80%;
  margin: 0 auto;
  color: var(--cor-verde2);
}

.parceiros-content {
  overflow: hidden;
  width: 100%;
  margin-top: 1cm;
  margin-bottom: 2cm;
  position: relative;
}

.parceiros-track {
  display: flex;
  width: calc(150px * 26); /* Ajuste de largura considerando o dobro de imagens */
  transition: transform 0.7s ease-in-out;
}

.parceiros-track img {
  width: 150px;
  height: auto;
  margin: 0 24px;
  border-radius: 7px;
}

.botao-parceiro{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-parceiro:hover {
  transform: translateY(-0.5em);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Depoimentos -- */

.depoimentos h1{
  text-align: center;
  margin-top: 36px;
  margin-bottom: 24px;
}

.depoimentos hr{
  color: var(--cor-verde2);
  width: 45%;
  margin: 0 auto;
}

.dep-container{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.dep-texto{
  width: 90%;
  text-align: center;
  margin-top: 16px;
}

.carousel-inner h4, h5{ 
  text-align: center;
}

.carousel-inner h5{
  margin-bottom: 12px;
}

.depoimentos .carousel-inner{
  margin: 0 auto;
  width: 70%;
  height: 230px;
  border: solid 3px var(--cor-verde2);
  border-radius: 7px;
  margin-top: 24px;
  margin-bottom: 64px;
}

/* -- Rodapé -- */

#containerrodape{
background-color: #e9e9e9;

width: 100%;
height: 300px;
border-width: 5px;
border-color: var(--cor-verde2);
border-style: solid;
border-left: black;
border-right: black;
}

.rodape-content{
  display: flex;
  justify-content: space-around;
  width: 99%;
  margin: 0 auto;
}

.paginas{
  padding: 10px, 24px;
  opacity: 0;
}

.endereco{
  opacity: 0;
}

.endereco iframe{
  width: 80%;
}

.endereco h3{
  text-align: center;
  padding: 10px, 24px;
}

.maps{
  border-style: solid;
  border-color: #45a5e0;
  border-width: 2px;
  border-radius: 10px;
  opacity: 0;
}

.contato{
  padding: 10px, 24px;
  opacity: 0;
}


/* -- Página Sobre nós -- */


/* -- Nossa História -- */

.container-sobrenos{
  margin: 0 auto;
  width: 85%;
}

.sobrenos-h1{
  margin-top: 144px;
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
}

.sobrenos-content{
  border-top: 5px solid var(--cor-verde2);
  border-radius: 10px;
  margin-top: 36px;
  font-size: 1.1em;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.sn-content-container1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.sn-content-container2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25px;
  gap: 30px;
}

.sn-item{
  width: 48%;
}

.sobrenos-video video{
  width: 540px;
  margin-top: 24px;
  border: 3px solid var(--cor-verde2);
  border-radius: 10px;
}

.sobrenos-txt p{
  width: 95%;
  margin-top: 2em;
  padding-left: 30px;
}

.sobrenos-h3{
  display: flex;
  justify-content: center;
}

.sobrenos-h3 h3{
  color: var(--cor-azul);
}

/* -- Nossas Ações -- */

.container-nossasacoes{
  margin-top: 64px;
  margin-bottom: 48px;
  border-top: 5px solid var(--cor-verde2);
  border-bottom: 5px solid var(--cor-verde2);
}

.container-nossasacoes .sobrenos-h1{
  margin-top: 30px;
}


.sobrenos-h1 hr{
  width: 45%;
  background-color: var(--cor-azul);
}

.nossasacoes-content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.nossasacoes-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nossasacoes-icon h2{
  text-align: center;
} 

/* -- Nosso Mascote -- */

.container-mascote{
  width: 80%;
  margin: 0 auto;
}

.container-mascote .sobrenos-h1 {
  text-align: center;
  margin-top: auto;
}

.mascote-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin-top: -40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.mascote-img img{
  width: 380px;
}

.mascote-txt{
  color: black;
}

.mascote-btn{
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.botao-mascote{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 15em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-mascote:hover {
  transform: translateY(-0.5em);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Nosso MVV -- */

.container-mvv{
  border-top: 5px solid var(--cor-verde2);
}

.mvv-content{
  display: flex;
  justify-content: center;
  font-size: 1.0em;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}

.mvv-h1{
  margin-top: 48px; 
  margin-bottom: 36px;
  text-align: center;
}

.mvv-caixa{
  width: 30%;
  height: 22em;
  margin: 0 auto;
  border: 1px solid var(--cor-verde2);
  border-radius: 7px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}

.mvv-caixa i{
  font-size: 48px;
  margin-top: 20px;
  color: var(--cor-azul);
}

.mvv-caixa h2{
  width: 70%;
  text-align: center;
}

.mvv-caixa p{
  width: 70%;
}

.mvv-btn{
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 64px;
}

.botao-mvv{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-mvv:hover {
  transform: translateY(-0.5em);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 


/* -- Página Cadastro -- */


/* -- Título -- */

.cadastro-titulo{
  margin-top: 148px;
  margin-bottom: 48px;
  text-align: center;
}

.cadastro-titulo h1{
  font-family: "Allerta Stencil", sans-serif;
  font-weight: bold;
  font-size: 2em;
}

/* -- Carrossel -- */

.cadastro-container-carrossel{
  width: 768px;
  margin: 0 auto;
  border: 2px solid var(--cor-verde2);
  border-radius: 9px;
  box-shadow:  1px 1px 2px 4px rgba(0, 0, 0, 0.1);
}

/* -- Cadastre aqui -- */

.container-cadastro{
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}

.cadastro-btn{
  margin-bottom: 64px;
}

.botao-cadastro{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-cadastro:hover {
  transform: translateY(-0.5em);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 


/* -- Página Nossos Parceiros -- */


/* -- Título -- */

.parceiros-titulo{
  margin-top: 144px;
  text-align: center;
}

.parceiros-titulo hr{
width: 75%;
}

/* -- Nossos Parceiros - Texto -- */

.container-nossosparceiros{
  width: 80%;
  margin: 0 auto;
}

.nossosparceiros-txt{
  width: 80%;
  margin: 0 auto;
}

.nossosparceiros-txt p{
  text-align: center;
}

.nossosparceiros-txt h3{
  text-align: center;
}

.nossosparceiros-btn{
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 48px;
}

/* -- Planos -- */

.nossosparceiros-planos{
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
}

/* -- Nossos Parceiros - Imagem -- */

.nossosparceiros-img{
  margin-top: 72px;
}

.nossosparceiros-h1{
  text-align: center;
}

.nossosparceiros-h1 hr{
  width: 60%;
}

.nossosparceiros-content{
  margin-top: 48px;
  margin-bottom: 56px;
}

.nossosparceiros-caixa{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
  width: 80%; 
  margin: 0 auto;
}

.nossosparceiros-caixa img{
  border-radius: 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
  transition: transform 0.2s ease;
}

.nossosparceiros-caixa img:hover{
  transform: scale(0.9);
}


/* -- Página Produtos -- */


/* -- Título -- */

.produtos-titulo{
  margin-top: 144px;
  text-align: center;
  border-bottom: 4px solid var(--cor-verde2);
}

.produto-main{
  border-bottom: 5px solid var(--cor-verde2);
}

.prodmain-content{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}

.prodmain-quokkinha{
  width: 75%;
}

.prodmain-quokkinha img{
  width: 80%; 
  border: 3px solid var(--cor-verde2);
  border-radius: 9px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

.prodmain-caixa{
  width: 80%;
  margin-top: 32px;
}

.prodmain-txt{
  width: 90%;
  margin: 0 auto;
}

.prodmain-btn{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}

.prodmain-btn h2{
  text-align: center;
}

.botao-prodmain{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  margin-top: 24px;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-prodmain:hover{
  transform: translateY(-0.5em);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Produtos -- */

.container-produtos{
  margin-bottom: 48px;
}

.container-produtos hr{
  width: 75%;
  margin: 0 auto;
}

.lista-produtos{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  gap: 24px;
  margin-top: 24px;
}

.lista-produtos-outros{
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  gap: 24px;
  margin-top: 24px;
}

.caixa-produtos{
  width: 15em;
  border: 2px solid var(--cor-verde2);
  border-radius: 7px;
  overflow: hidden;
}

.caixa-produtos img{
  width: 15em;
  height: 203px;
  max-height: 203px;
  margin: 0 auto;
}

.caixa-produtos h3{
  text-align: center;
}

.botao-produtos{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--cor-azul);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  margin-top: 24px;
  margin-bottom: 24px;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao-produtos:hover{
  transform: translateY(-0.5em);
  background-color: var(--cor-verde2);
  color: white;
  text-decoration: none;
} 

/* -- Página Eventos -- */


/* -- Página Contato -- */


/* -- Título -- */

.contato-titulo{
  margin-top: 144px;
  text-align: center;
}

/* -- Redes -- */

.contato-redes{
  display: flex;
  justify-content: center;
  gap: 48px
}

/* -- Formulário e Info -- */

.contato-content{
  display: flex;
  justify-content: center;
  gap: 10%;
}

.contato-form{
  border: 2px solid black;
  width: 30%;
}

.contato-text1{
  width: 80%;
  height: 2em;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

.contato-text2{
  width: 80%;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), /* Sombra mais leve */
              0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra ainda mais leve */
}

.contato-info{
  border: 2px solid black;
  width: 30%;
}

/* -- Animações -- */

li.in-view{
  animation: animacao 1.5s forwards;
}

.pg.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.6s;
}

.item1.in-view{
  animation: animacao 2s forwards;
}

.item2.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.4s;
}

.info1.in-view{
  animation: animacao 2s forwards;
}

.info2.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.4s;
}

.info3.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.8s;
}

.paginas.in-view{
  animation: animacao 2s forwards;
}

.endereco.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.4s;
}

.maps.in-view{
  animation: animacao 2s forwards;
  animation-delay: 0.8s;
}

.contato.in-view{
  animation: animacao 2s forwards;
  animation-delay: 1.2s;
}

/* -- Proporções de tela -- */

@media (min-width: 336px){
  .slideshow-container{
    height: 3cm;
  }
}

@media (min-width: 576px){
  .slideshow-container{
    height: 5cm;
  }
}

@media(min-width: 768px){
  .slideshow-container{
    height: 8cm;
  }
}

@media(min-width: 992px){
  .slideshow-container{
    height: 10cm;
  }
}

@media(min-width: 1200px){
  .slideshow-container{
    height: 12cm;
  }
}

@media (min-width: 1400px){
  ul{
    height: 95px;
  }

  li a{
    margin: 19px 7px;
    padding: 12px 12px;
    font-size: x-large;
  }

  .slideshow-container{
    margin-top: 95px;
    height: 14cm;
  }
}
