
:root {
  --cor-verde1: #48c39d;
  --cor-verde2: #3db28d;
  --cor-azul: #168fd8;

}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

/* -- NAVBAR -- */
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #42d6a7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 95px;
  }
  
  li {
    float: left;
  }

  .titulosNavBar{
    margin-left: 8em;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    margin: 19px 7px;
    padding: 12px 12px;
    text-decoration: none;
    font-size: x-large;
    font-family: "Archivo Black", sans-serif;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  /* muda a cor ao sobrepor o mouse */
  li a:hover {
    transform: scale(0.95);
    border-radius: 12px;
    background-color: var(--cor-verde2);
  }

  * {box-sizing:border-box}

/* -- CARROSSEL -- */
.slideshow-container{
  width: 100%; 
  height: 14cm;
  position: relative;
  margin-top: 95px;
  z-index: 0;
  overflow: hidden;
}

.slideshow-container img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

/* Esconder imagens por default */
.mySlides {
  display: none;
}

/* botões do carrossel */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* posicionar o botão next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* texto da legenda */
.textImg {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #333;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {position: 0;}
  to {position: 100px}
}

/* -- SEÇÃO SOBRE NÓS -- */

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 95%;
  margin: auto;
}

.container div{
  margin-top: 1em;
}

.item1{
  width: 20em;

}

.item2{
  width: 40em;
}

.container h1{
  font-weight: 900;
  text-align: center;
  font-size: 2em;
  color: #48c39d;
  margin: 0em;
}

.container p{
  font-size: 1.2em;
  font-weight: 370;
  font-style: italic;
  text-align: center;
  word-spacing: 0.2em;
  margin: 0.2em;
  margin-top: 0.4em;
}

/* titulo da adriana - nesse exemplo ele só muda o ultimo p dentro de cada container class */

.container p:last-of-type{
  font-size: 1em;
  padding: 1.5em;
  color: var(--cor-azul);
  opacity: 0.8;
  font-weight: 600;
}

.botao {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border-radius: 1em;
  width: 12em;
  height: 3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.2s;
}

.botao:hover {
  transform: translateY(-0.5em);
  background-color: var(--cor-verde1);

}


.imgSejaVida{
  float: left;
}

.sobreNos h1{
  margin-left: 1134px;
}

.sobreNos hr{
  width: 846px;
}

.imgInfo{
  width: 100%;
  height: 10cm;
  overflow: hidden;
  margin-top: 3cm;
  position: relative;
  border-top: 8px solid #48c39d;
  border-bottom: 8px solid #48c39d;
  display: flex;
  float: right;
  justify-content: space-around;
  align-items: center;
}

.imgInfo img{
  width: 100%;
  height: auto;
  position: absolute; 
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: inset(0 0 50% 0);
  z-index: 0;
  filter: brightness(1.1) saturate(0.7);
}

.info1{
  z-index: 1;
  text-align: center;
  color: white;
}

.info1 img{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  filter: brightness(1.0) saturate(1.0);
  clip-path: inset(0 0 0 0);
  transform: translate(0%, 0%);
  top: auto;
  left: auto;
}

.info2{
  z-index: 1;
  text-align: center;
  color: white;
}

.info2 img{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  filter: brightness(1.0) saturate(1.0);
  clip-path: inset(0 0 0 0);
  transform: translate(0%, 0%);
  top: auto;
  left: auto;
}

.info3{
  z-index: 1;
  text-align: center;
  color: white;
}

.info3 img{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  filter: brightness(1.0) saturate(1.0);
  clip-path: inset(0 0 0 0);
  transform: translate(0%, 0%);
  top: auto;
  left: auto;
}

.nossosParceiros hr{
  margin-left: 324px;
  width: 1124px;
  float: left;
}

.Depoimentos hr{
  margin-left: 324px;
  width: 1124px;
  float: left;
}

#containerrodape{
background-color: #e9e9e9;

width: 100%;
height: 300px;
border-width: 5px;
border-color: #48c39d;
border-style: solid;
border-left: black;
border-right: black;


display: flex;
flex-direction: row;
justify-content: space-around;
}

.paginas{
  padding: 10px, 24px;
}
.endereco{
  text-align: center;
  padding: 10px, 24px;
}

.maps{
  border-style: solid;
  border-color: #48c39d;
  border-width: 2px;
  border-radius: 10px;
}

.contato{
  padding: 10px, 24px;
}
